<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>YouTrack Connector</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet" />
  </head>
  <body>
    <!-- Top corner login button -->
    <div class="top-right">
      <form action="/youtrack-login" method="get">
        <button type="submit" class="btn-youtrack">Log into YouTrack</button>
      </form>
    </div>
    <h1>CLICK TO YOUTRACK</h1>
    {% if error and submitted %}
    <div style="color: red">{{ error }}</div>
    {% endif %}
    <form action="/" method="post" class="form-example">
      <div class="form-example">
        <label for="github">Github Repository</label>
        <input type="text" name="github" id="github" required />
        <input type="submit" value="GitHub Search" class="btn github" />
      </div>
    </form>
    {% if github %}
    <h2>You entered: {{ github }}</h2>
    {% endif %}
  </body>
</html>
